.page-meal {
    background-color: #f4f4f4;
}

.page-meal .ion-item-card {
    padding-left: 0em;
    padding-bottom: 1em;
}

.page-meal .card-img-traje{
    width: 40px; 
    height: 40px; 
    margin-top: 1em;
    margin-left: 1em;
}

.page-meal .card-div {
    display: block;
}